body {
    background: #222222;
}

#container {
    background-color: white;
    border-color: crimson;
    border-style: solid;
    border-width: 5px;
    display: grid;
    grid-template-columns: repeat(var(--numCol), auto);
    margin: 0 auto;
    height: 500px;
    width: 500px;
}

#reset {
    margin-top: 25px;
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cell {
    background-color: white;
}