.cell {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 25px;
    width: 25px;
}

#container {
    display: flex;
    margin: auto;
    max-height: auto;
    max-width: 960px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#reset {
    margin-top: 25px;
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}